.detail{
    widows: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    header{
        width: 100%;
        height: 0.5rem;
        background: rgba(248,248,248,0.95);
        display: flex;
        padding: 0.07rem 0.1rem;
        h2{
            text-align: center;
            color: #bbb;
        }
        justify-content: space-between;
        i{
            font-size: 25px!important;
        }
        .srh{
            width: 1.68rem;
            border: solid 1px #ccc;
            border-radius: 0.2rem;
            height: 0.35rem;
            line-height: 0.35rem;
            background: #fff;
        }
        a{
            color: #000;
            display: flex;
            justify-content: center;
            align-items: center;
            i{
                font-size: 30px!important;
            }
        }
        
    }
    .fliter{
        width: 100%;
        height: 0.43rem;
        background: white;
        display: flex;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        justify-content: space-between;
        li{
            height: 100%;
            padding: 0 0.2rem;
            line-height: 0.43rem;
            i{
                font-size: 20px!important;
            }
        }
        li:first-of-type{
            color: #ED5564;
        }
        li:last-of-type{
            border-left: 1px solid #ccc;
        }
    }
    section{
        width: 100%;
        flex: 1;
        height: 100%;
        overflow: auto;
        background: white;
        position: relative;
        .good{
            li{
                display: flex;
                padding: 0.08rem;
                img{
                    width: 1.02rem;
                    height: 1.02rem;
                }
                .info{
                    flex: 1;
                    padding: 0 0.08rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h2{
                        font-size: 14px; 
                    }
                    span{
                        font-size: 18px;
                        color: #EC5464;
                    }
                    p{
                        span{
                            font-size: 12px;
                            color: #ccc;
                            em{
                                color: #000;
                            }
                        }
                        a{
                            float: right;
                            font-size: 12px;
                            color: #aaa;
                            i{
                                font-size: 12px!important;
                            }
                        }
                    }
                }
            }
        }
        .nosrh{
            width: 2.2rem;
            height: 1.8rem;
            position: absolute;
            top: 50%;
            left: 22%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            p{
                width: 0.66rem;
                height: 0.66rem;
                border-radius: 0.33rem;
                background: #ddd;
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                    font-size: 40px!important;
                    color: white;
                }
            }
            h2{
                font-size: 14px;

            }
            h3{
                font-size: 12px;
                color: #999;
            }
            a{
                display: block;
                width: 0.68rem;
                height: 0.26rem;
                background: #eee;
                line-height: 0.26rem;
                text-align: center;
                font-size: 14px;
                color: #000;
                border: 1px solid #ccc;
                border-radius: 1px;
            }
        }
    }
}    