.find{
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    header{
        width: 100%;
        height: 0.53rem;
        display: flex;
        justify-content: space-between;
        padding: 0.1rem 0.05rem 0;
        i{
            font-size: 30px!important;
            color: #000;
        }
        div{
            width: 1.79rem;
            height: 0.37rem;
            border-radius: 0.2rem;
            background: white;
            line-height: 0.37rem;
            border: 1px solid #eee;
            input{
                height: 0.3rem;
                border: none;
                margin-left: 0.2rem;
                outline: none;
            }
        }
        p{
            a{
                display: block;
                width: 0.5rem;
                height: 0.43rem;
                color: #000;
                line-height: 0.43rem;
                text-align: center;
                font-size: 16px;
            }
        }
    }
    section{
        width: 100%;
        dl{
            width: 100%;
            padding: 0.1rem;
            margin-top: 0.05rem;
            dt{
                margin-bottom: 0.2rem;
                font-size: 14px;
                color: #000;

            }
            dd{
                width: 100%;
                ul{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    li{
                        padding: 0.05rem 0.1rem;
                        background: white;
                        border-radius: 0.2rem;
                        margin: 0 0.1rem 0.1rem 0;
                        a{
                            color: #333;
                        }
                    }
                }
            }
        }
        dl:last-of-type{
            ul{
                justify-content: flex-start;
            }
        }
        .clear{
            height: 0.42rem;
            width: 2.78rem;
            background: #eee;
            line-height: 0.42rem;
            text-align: center;
            margin: 0.5rem auto 0;
        }
    }
}